
body {
    background-color: rgb(159, 159, 159);
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
}

h1 {
    padding: 1rem 0rem 1rem 1rem;
    font-size: 20px;
    font-weight: 300;
    color: white;
    text-align: center;
    background-color: gray;
}
h2 {
    text-align: left;
    padding: 17rem 0rem 4rem 1rem;
    font-size: 175px;
    line-height: 170px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.all {
    color: white;
}

.projects {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5rem;
}

.p3 {
    padding: 3rem;
    background-color: gray;
}

.p6 {
    padding: 3rem;
    background-color: gray;
}

.link {
    padding: 3rem;
    background-color: gray;
}